[Unit]
Description=Reset rock watchdog
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/home/przemek/github/dekiel/homeAutomation/resetWatchDog.py
TimeoutSec=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target