[Unit]
Description=Reset rock watchdog
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/home/przemek/github/dekiel/homeAutomation/resetWatchDog.py
Type=oneshot

[Install]
WantedBy=multi-user.target